<div class="banner">
  <div class="content">
      <h1 class="mb-5">Ever Fresh <br/> At Your Door.</h1>
      <a routerLink="/contactUs">CONTACT US  <i class="fa-solid fa-arrow-right"></i> </a>
  </div>
</div>
<div class="farm py-4 align-item-center centered-items">
  <div class="caption  text-center">
    <h2>Ever Fresh Farms</h2>
    <h4>Grown by Us!</h4>
    <p>At Queen Fresh Produce, we take pride in food safety. Our Technical Team has developed a complete set of guidelines, practices and procedures that cover all aspects of our business. Our Quality Assurance Team monitors products to the highest standards at all times.</p>  
  </div>
  <div class="container py-4 centered-items img-fluid">
    <img class="img-fluid im " src="../../assets/images/about/farm2.jpg" alt="">
  </div>
  
</div>

<div class="container  text-left">
  <h2>Complete Traceability</h2>
  <p>We work with our established farms that have passed rigorous third-party inspections and fully accredited to supply produce to our markets around the world. 
    Our product range have complete farm traceability programs to ensure we can trace every product as we apply a food safety standpoint back to a specific farm and field.</p>  
</div>
