@import "../../styles.scss";

.navbar{
    // z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: rgba(0,0,0,0.5);
    box-shadow: 0 1px 10px 1px $navbarFontColor;
    #logo{
        width: 125px;
    }
    .nav-item {
        color: $navbarFontColor;
        .nav-link{
          color: $navbarFontColor;

        }
        .nav-link:hover{
            color: $commonColor;
  
          }
    }
    #collapsibleNavbar{
        justify-content: center;
        align-items: center;
    }
}
