<div class="h"></div>
<div class="container my-5">
  <div class="row  text-center companyText">
    <h1>Our Products</h1>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/seeds.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">strawberry</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/Pomegrana/Zz05NWFmNTczMGRjOWMxMWVhOWI0YjBhZjQ4NDllMTliZg==.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">Pomegrana</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img ">
          <img src="../../assets/images/Spring onions/images (1).jpg" class="mb-2 w-100  img-hieght" alt="">
        </div>
        <h2 class="">Spring onions</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/Pomegrana/Zz05NWFmNTczMGRjOWMxMWVhOWI0YjBhZjQ4NDllMTliZg==.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">Pomegrana</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img ">
          <img src="../../assets/images/Mange tout/182827024-470461.jpg" class="mb-2 w-100  img-hieght" alt="">
        </div>
        <h2 class="">Mange tout</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img ">
          <img src="../../assets/images/broccoli_16.jpg" class="mb-2 w-100  img-hieght" alt="">
        </div>
        <h2 class="">Broccoli</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img ">
          <img src="../../assets/images/Mange tout/pea-seeds-proval-lead.jpg" class="mb-2 w-100  img-hieght" alt="">
        </div>
        <h2 class="">Mange tout</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/strawberry-sprinkled-with-sugar-close-up-simon-bratt-photography.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">strawberry</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/Sweet Potaoes/how-long-do-sweet-potatoes-last-735x500.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">Sweet Potaoes</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img ">
          <img src="../../assets/images/broccoli.jpg" class="mb-2 w-100  img-hieght" alt="">
        </div>
        <h2 class="">Broccoli</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/Sweet Potaoes/images.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">Sweet Potaoes</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/frozen.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">Frozen-strawberry</h2>
      </div>
      <div class="col-md-4 my-5">
        <div class="product_img">
          <img src="../../assets/images/Strawberries-Header-OG.jpg" class="mb-2 w-100 img-hieght" alt="">
        </div>
        <h2 class="">Frozen-strawberry</h2>
      </div>
    </div>
  </div>

</div>
