<div class="h"></div>
<!-- banner section -->
<div class="banner">
    <div class="content mt-4">
        <h1 class="mb-5">Ever Fresh <br />Fresh Nutrient Food !</h1>
        <a routerLink="/contactUs">CONTACT US <i class="fa-solid fa-arrow-right"></i> </a>
    </div>
</div>


<!-- company section -->
<div class=" CompanyContainer">
    <div class=" container row my-4">
        <div class="col-md-6  centered-items ">
            <img class=" rounded-circle img-hieght2 my-2 " src="../../assets/images/Grapes.jpeg" alt="">
            <div class="text-center">
                <h2>Fresh Products</h2>
                <p>Ever fresh product range includes a wide variety of Strawberries, grapes, pomegranates, Sweet
                    potatoes, mangoes, , sugar snaps, Spring Onions and Green beans.
                </p>
                <button class="btn" routerLinkActive="active" routerLink="/products">More...</button>
            </div>
        </div>
        <div class="col-md-6 centered-items">
            <img class="  rounded-circle img-hieght2 my-2 " src="../../assets/images/potato_frozen.jpeg" alt="">
            <div class="text-center">
                <h2>Frozen Products</h2>
                <p>Ever fresh provides a vast range of products to suit the needs of your market. Our fresh-frozen
                    vegetables, herbs and fruit make cooking enjoyable and help.
                </p>
                <button class="btn">More...</button>
            </div>
        </div>
    </div>
</div>
<!-- about  section -->
<div class="h"></div>
<section id="about">
    <div class="globalContainer px-5 pt-3">
        <div class="wrapper centered-items">
            <div class="col-md-12 text-center globalText mb-5">
                <div class="hh"></div>
                <h1 class="fw-bold">About Us </h1>
            </div>
            <div class="col-md-6 text-center globalText">
                <h1>Our Farms</h1>
                <p>At Ever Fresh Produce, we take pride in food safety. Our Technical Team has developed a complete set
                    of guidelines, practices and procedures that cover all aspects of our business. Our Quality
                    Assurance Team monitors products to the highest standards at all times.
                </p>
            </div>
            <div class="col-md-6 globalimage">
                <img class="img-fluid img-hieght3" src="../../assets/images/about/farm.jpeg" alt="">
            </div>
            <div class="col-md-12 fasel"></div>
            <div class="col-md-6 text-center globalText">
                <h1>Complete Traceability</h1>
                <p>We work with our established farms that have passed rigorous third-party inspections and fully
                    accredited to supply produce to our markets around the world.
                    Our product range have complete farm traceability programs to ensure we can trace every product as
                    we apply a food safety standpoint back to a specific farm and field.
                </p>
            </div>
            <div class="col-md-6 globalimage">
                <img class="img-fluid img-hieght3" src="../../assets/images/about/complete.jpeg" alt="">
            </div>
        </div>
    </div>
</section>




<!-- global market section -->
<section id="global-market">
    <div class="globalContainer px-5 py-3">
        <div class="wrapper centered-items">
            <div class="col-md-6 text-center globalText">
                <h1 class="fw-bold">Global Markets</h1>
                <p>Retailers and consumers are increasingly making their choices based on commitment to food safety,
                    quality standards, high ethical, social and environmental responsibility. Ever Fresh Agric ulture is
                    committed to continuously meet those expectations..
                </p>
                <input type="button" class="btn" onclick="window.location.href='https://www.google.com';" value="See more ..." />
            </div>
            <div class="col-md-6 globalimage">
                <img class="img-fluid" src="../../assets/news2.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- picture links section -->
<!-- <div class="picsContainer">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3 centered-items">
            <img src="../../assets/images/market.jpeg" alt="" class="w-100 img-hieght">
            <div class="py-3 text-center" style="width: 100%;">
                <h4>Egyptian Market</h4>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 centered-items">
            <img src="../../assets/images/Broccoli2.jpeg" alt="" class=" w-100 img-hieght">
            <div class="py-3 text-center" style="width: 100%;">
                <h4>Organic</h4>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 mb-3 centered-items">
            <img src="../../assets/csr1.jpg" alt="" class=" w-100 img-hieght">
            <div class="py-3 text-center" style="width: 100%;">
                <h4>CSR</h4>
            </div>
        </div>
    </div>
</div> -->
<!-- certification -->
<section id="certification">
    <div class="h"></div>
    <div class="container my-5">
        <div class="row my-5 text-center companyText">
            <h1 class="fw-bold">certifications</h1>
        </div>
        <div class="row justify-conyent-center">
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/brclogo.png" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/tesco.jpeg" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/globalgap.png" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/semta.jpeg" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/logo-haccp.png" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/logo-haccp2.png" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/sedex2.png" class="img-fluid" alt="">
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-3 my-5">
                <img src="../../assets/images/certifications/iso.jpeg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>